<div bsModal class=" row modal fade customModal" #checkoutModal="bs-modal" tabindex="1" role="dialog" aria-labelledby="checkoutModal"
     aria-hidden="true">
  <button id="exit_modal" (click)="closeModal()"><i class="fas fa-window-close" style="    color: #f75986;"></i></button>

  <h1 id="title_order1">Your order summary:</h1>
  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card" id="table_order">

          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Measure</th>
                    <th>Price</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cartProduct of cartProducts;let i=index">
                    <td> <img id="checkout_img" src={{cartProduct.Image}} /></td>
                    <td> {{cartProduct.Name}} </td>
                    <td>{{cartProduct.Quantity}}</td>
                    <td>{{cartProduct.Measure}}</td>
                    <td>{{cartProduct.Price}} RON</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <h2 id="title_order2">Complete your contact and delivery information:</h2>


      <form #orderForm="ngForm" (ngSubmit)="getOrderValues(orderForm.value)" class="form_order">


        <div>
          <label>Email:</label>
          <input class=" form-control input" type="text" ngModel name="email" placeholder="enter your email " style="width:120%;" />
        </div>
        <br />

        <div>
          <label>Complete name:</label>
          <input type="text" class=" form-control input" ngModel name="name" placeholder="enter your name" style="width:120%;" />
        </div>
        <br />

        <div>
          <label>Phone number:</label>
          <input type="text" class=" form-control input" ngModel name="phonenumber" placeholder="enter your phone number" style="width:120%;" />
        </div>
        <br />

        <div>
          <label>Delivery address:</label>
          <input type="text" class=" form-control input" ngModel name="deliveryaddress" placeholder="enter the delivery address" style="width:120%;" />
        </div>
        <br />

        <div>
          <label>City:</label>
          <input type="text" class=" form-control input" ngModel name="city" placeholder="enter the city" style="width:120%;" />
        </div>
        <br />

        <div>
          <label>County:</label>
          <input type="text" class=" form-control input" ngModel name="county" placeholder="enter the county" style="width:120%;" />
        </div>
        <br />

        <button id="order_btn" class=" btn btn-fill btn-danger button " (click)="makeOrder(orderForm.value)">Order</button>
      </form>

      <img class="check_image" src="https://i.ibb.co/X37Hr8y/check-order-page.gif" />

      <h4 class="courier_text">Payment will be made upon delivery by fast courier in 2-3 working days - 10 RON</h4>




      <mat-list id="divider">

        <mat-divider class="divide_line"></mat-divider>
        <mat-list-item id="total_text">&nbsp; TOTAL &nbsp;</mat-list-item>
        <mat-divider class="divide_line"></mat-divider>
        <mat-list-item id="total_price">{{totalPrice+10}} RON</mat-list-item>
      </mat-list>
      <button id="qrcode_sale" class=" btn btn-fill btn-danger button " (click)="showScanner()">Scan your SALE CODE</button>
    </div>
    <app-scanqrcodemodal #scanqrcodeModal (change)="applyVoucher($event)"></app-scanqrcodemodal>

