<img style="position:absolute;left:0;top:0;" src="./assets/img/logo.png" />
<h2 style="    color: #f75986;margin-top: 5%;margin-left: 45%; font-family: Brush Script MT;">Who are we?</h2>
<p style="margin-top: 5%; margin-left: 45%; font-family: Brush Script MT;">
  We are a group of young fitness instructors passionate about IT, who built this application to help their clients.

</p>
<!--<img src="https://i.ibb.co/qY1xLwh/justmove.jpg" style="width:30vw;height:65vh;margin-left:5%;" />-->

<h2 style="    color: #f75986;
    margin-top: 4%;
    margin-left: 38%;
    font-family: Brush Script MT;">
  Who are our clients?
</h2>

<p style="margin-top: 0%; margin-left: 38%; font-family: Brush Script MT;">
  A big part of the people we train are those who spend a lot of time in the chair, at the office or who travel a lot in the
  interest of work.
  <br />Just Move was built to solve the problem of excuses that customers have when it comes to sports.
</p>
<h2 style="    color: #f75986;
    margin-top: 5%;
    margin-left: 45%;
    font-family: Brush Script MT;">
  Who are our sponsors?
</h2>
<p style="margin-top: 3%; margin-left: 45%; font-family: Brush Script MT;">

  On the nutrition side, we collaborate with a lot of well-known brands such as: Nutrend,KIND,Pro Nutrition,Nutramino.
</p>
<p style="margin-top: 3%; margin-left: 45%; font-family: Brush Script MT;">
  The gyms presented on the site are old collaborators, each gym having a very well trained staff able to meet the needs of<br /> the most demanding customers.
</p>
