
<!--<button  [routerLinkActive]="['link-active']" [routerLink]="['/']"></button>-->

  <h2 style="    color: #f75986;margin-top: 5%;margin-left: 5%; font-family: Brush Script MT;">CONTACT</h2>

  <h4 style=" color: white;font-family: Brush Script MT; margin-left: 5%;">Address: Putul lui Zamfir no.39, district 1, Bucuresti <br /> (Area Piata Dorobanti) entrance from Radu Beller street</h4>

  <h4 style=" color: white;font-family: Brush Script MT; margin-left: 5%;">Phone: +4 072 553 65 14 / vodafone</h4>
  <h4 style=" color: white;font-family: Brush Script MT; margin-left: 5%;">Fix: +4 031 107 18 27</h4>
  <br />
  <br />
  <h4 style=" color: white;font-family: Brush Script MT; margin-left: 5%;">E-mail: contact@jusmove.ro</h4>


  <h3 style="    color: #f75986;margin-top: 5%;margin-left: 5%; font-family: Brush Script MT;">Our GYMs:</h3>
  <h4 style="    color: white;margin-top: 5%;margin-left: 5%; font-family: Brush Script MT;"> Bucuresti:</h4>
  <table>
    <tr>
      <th>Gym Name</th>
      <th>Address</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>Movement Studio</td>
      <td>Constantin Aricescu Street no.12, district 1, Bucuresti</td>
      <td>M-F: 08:00-22:00 <br />Saturday: 09:00-18:00</td>
      <td>Phone: +4 072 543 55 24 <br />E-mail: contact@movementstudio.ro</td>
    </tr>
    <tr>
      <td>LotusClub Padesu</td>
      <td>Padesu Street no.10, district 3, Bucuresti</td>
      <td>M-F: 07:00-23:00 <br />Weekend: 07:00-21:00</td>
      <td>Phone: +4 072 543 55 54 <br />E-mail: contact@lotusclubpadesu.ro</td>
    </tr>
  </table>
  <h4 style="    color: white;margin-top: 5%;margin-left: 5%; font-family: Brush Script MT;"> Cluj-Napoca:</h4>
  <table>
    <tr>
      <th>Gym Name</th>
      <th>Address</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>WorldClass Vivo</td>
      <td>Izvoarelor Street no.1,Cluj-Napoca</td>
      <td>M-F: 06:00-22:00 <br />Weekend: 07:00-18:00</td>
      <td>Phone: +4 072 523 25 24 <br />E-mail: contact@worldclassvivo.ro</td>
    </tr>
    <tr>
      <td>SerGym</td>
      <td>Lamaita Street no.13,Cluj-Napoca</td>
      <td>M-F: 07:00-20:00 <br />Weekend: 08:00-20:00</td>
      <td>Phone: +4 072 573 75 54 <br />E-mail: contact@sergym.ro</td>
    </tr>
  </table>
  <h4 style="    color: white;margin-top: 5%;margin-left: 5%; font-family: Brush Script MT;">Ploiesti:</h4>
  <table>
    <tr>
      <th>Gym Name</th>
      <th>Address</th>
      <th>Program</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>Titan Academy</td>
      <td>Centrala no.15,Ploiesti</td>
      <td>M-F: 06:00-22:00 <br />Weekend: 08:00-20:00</td>
      <td>Phone: +4 072 583 25 84 <br />E-mail: contact@titanacademy.ro</td>
    </tr>
    <tr>
      <td>MaxGym</td>
      <td>vestului Street no.5,Ploiesti</td>
      <td>M-F: 07:00-23:00 <br />Weekend: 07:00-21:00</td>
      <td>Phone: +4 072 579 75 94 <br />E-mail: contact@maxgym.ro</td>
    </tr>
  </table>
