.propertiesModal {
  background-color: white;
  border-radius: 10px;
  max-height: 100vh;
  max-width: 70vw;
  margin-left: 20vw;
  margin-top: 13.5vh;
}
.gif{
    margin-left:50%;
    margin-top:-43%;
}
.input{
    margin-left:10%;
}
.button {
  margin-left: 17%;
}
.title {
  margin-left: 6%;
  color: black;
  font-size: 400%;
  font-family: Brush Script MT;
}
#reservationDate{
    margin-left:10%;

}
#exit_modal {
  right: 0;
  top: 0;
  position: absolute;
  color: #f75986;
  border-color: #f75986;
  
}

